PORT=8000

# Auth0 / OIDC Configuration
SECRET='long 32 bit secret from Auth0'
BASE_URL='http://localhost:8000' //as set up in auth0 too
CLIENT_ID='kfkefooeewofjewiofepofeoigerogneofoe' //as given by auth0
ISSUER_BASE_URL='https://YOUR_TENENT.us.auth0.com/'

//if needed for auth setup in auth0
Callback_URL ="http://localhost:8000/callback"
Logout_URL="http://localhost:8000/"
Web_Origin="http://localhost:8000/"
